ul {
  margin: 0;
  padding: 0;
}

.flight-item {
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  height: 184px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}

.flight-item__header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.flight-item__price {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #2196f3;
  align-content: center;
}