ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-filter {
  color: #4a4a4a;
}
.side-filter__title {
  margin: 0;
  padding: 20px 20px 10px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}

.side-filter__form {
  display: flex;
  flex-direction: column;
}

.side-filter__filter-item {
  box-sizing: content-box;
  padding: 10px 20px;
  flex-shrink: auto;
}

.side-filter__filter-item:hover {
  background-color: #f1fcff;
  transition: 0.5s ease-in-out;
}

.checkbox {
  position: absolute;
  appearance: none;
}

.checkbox-name {
  padding-left: 30px;
}

.custom-checkbox {
  position: absolute;
  box-sizing: border-box;
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: none;
  border: 1px solid #9abbce;
}

.checkbox:checked + .custom-checkbox {
  background: url("../../img/Shape.svg") no-repeat center;
  border: 1px solid #2196f3;
}
